<div style="border: solid 1px black">
    <h4><%= @currency_conversion.conversion_code %></h4>
    <p>
        <span><strong>Code: </strong><%= @currency_conversion.code %>;</span>
        <span><strong>Codein: </strong><%= @currency_conversion.codein %>;</span>
        <span><strong>High: </strong><%= @currency_conversion.high %>;</span>
        <span><strong>Low: </strong><%= @currency_conversion.low %>.</span>
    </p>
    <% user_has_currency_conversion = !UserCurrencyConversion.where(user_id: current_user.id, currency_conversion_id: @currency_conversion.id).empty? %>
    <% if !user_has_currency_conversion %>
        <%= button_to "Add to Portfolio", user_currency_conversions_path, 
        params: { user_id: current_user.id, currency_conversion_id: @currency_conversion.id }%>
    <% end %>
</div>