<table>
    <thead>
        <tr>
        <th></th>
        <th>Code</th>
        <th>High</th>
        <th>Low</th>
        <th>Last updated at</th>
        <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <% @currency_conversions.each_with_index do |currency_conversion, index| %>
            <% user_currency_conversion = UserCurrencyConversion.where(user_id: @user.id, currency_conversion_id: currency_conversion.id).first %>
            <tr>
                <td><%= index + 1 %></td>
                <th><%= currency_conversion.conversion_code %></th>
                <td><%= currency_conversion.high %></td>
                <td><%= currency_conversion.low %></td>
                <td><%= currency_conversion.last_updated_at %></td>
                <td><%= button_to "Remove", user_currency_conversion_path(user_currency_conversion), data: { turbo_confirm: "Are you sure you want to stop tracking #{currency_conversion.conversion_code}?" }, method: :delete %></td>
            </tr>
        <% end %>
    </tbody>
</table>